define service {
    use                     generic-service
    host_name               node2,node3,node4
    service_description     SSH
    check_command           check_ssh
    contact_groups          admins
    check_interval          1
    retry_interval          1
    max_check_attempts      2
}

define service {
    use                     generic-service
    host_name               node2,node3,node4
    service_description     HTTP
    check_command           check_http
    contact_groups          admins
    check_interval          1
    retry_interval          1
    max_check_attempts      2
}

define service {
    use                     generic-service
    host_name               node2,node3,node4
    service_description     HTTP
    check_command           check_nrpe!check_load
    contact_groups          admins
    check_interval          1
    retry_interval          1
    max_check_attempts      2
}
