define hostgroup {
  hostgroup_name      clients
  alias               Clients
  members             {% for host in nagios_hosts %}{{ host.name }}{{"," if not loop.last else "" }}{% endfor %}

}

{% for host in nagios_hosts %}
define host {
  use                 generic-host
  host_name           {{ host.name }}
  address             {{ host.address }}
  max_check_attempts  {{ host.max_check_attempts | default(3) }}
  check_command       check-host-alive
  check_interval      1
  retry_interval      1
  contact_groups      admins
}
{% endfor %}